
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="bradcumbContent">
    <p>See what's </p>
    <h2>NEW ARTIST</h2>
  </div>
</section>
<br>
<br>
<form [formGroup]= "artistFrom" style="width: 80%; margin-left: 10%; margin-top:3%">
  <div class="form-group">
    <label>Artist Name <span style="color: red">*</span></label>
    <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Artist Name Not Empty
      </div>
    </div>
    <div>
      <label>Choose Cover Art Photo</label>
      <input type="file" class="form-control" (change)="checkCoverArtFile($event)" placeholder="Cover Art">
      <br>
      <div *ngIf="checkedCoverArtFile" class="alert alert-danger">
        Just image file only
      </div>
      <div *ngIf="message2" class="alert alert-success" style="height:40px">
        <p style="font-size:20px; margin-top: -15px">{{message2}}</p>
      </div>
    </div>
  </div>
  <button  class="btn btn-success" [routerLink]="['/artist']" style="float:right">Exit</button>
  <button type="submit" [disabled]="checkform()"  class="btn btn-primary"
          (click)="summit()" style="float:right; margin-right:1%">Submit</button>
</form>
<br>
<br>
